<!DOCTYPE html>
<html>

<head>

    <title>

        {{ guild_name }}

    </title>

</head>

<body>

<h1>

Staff Portal

</h1>

<h2>

{{ guild_name }}

</h2>

<hr>

<ul>

<li>

<a href="/guild/{{ guild_id }}/applications">

Applications

</a>

</li>

<li>

<a href="/guild/{{ guild_id }}/appeals">

Appeals

</a>

</li>

<li>

<a href="/guild/{{ guild_id }}/suggestions">

Suggestions

</a>

</li>

<li>

<a href="/guild/{{ guild_id }}/tickets">

Tickets

</a>

</li>

<li>

<a href="/guild/{{ guild_id }}/moderation">

Moderation

</a>

</li>

<li>

<a href="/guild/{{ guild_id }}/logs">

Logs

</a>

</li>

</ul>

<hr>

<div>

Role:

<b>

STAFF

</b>

</div>

<br>

<a href="/dashboard">

Back To Dashboard

</a>

</body>

</html>
